<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div id="chart"></div>
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs " >
        <li class="nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="symbol in symbols">
          <a href="#">{{symbol.name}}
            <button type="button" class="close" ng-click="deleteSymbol(symbol)">&times;
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <form class="symbol-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new symbol here." ng-model="newSymbol">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addSymbol()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Freecodecamp basejump |
        <a href="https://twitter.com/mcarlosman">@mcarlosman</a> |
         <a href="https://github.com/moigithub">github</a></p>
  </div>
</footer>
